<div class="main-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 text-center">
        <h1>Artwork</h1>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= simple_form_for '', url: '/artwork', remote: true, method: :get, html: { class: 'form-inline' }, enforce_utf8: false do |f| %>
          <%= f.input :title, input_html: {name: 'title', value: params[:title]} %> -
          <%= f.input :category, input_html: {name: 'category', value: params[:category]} %>
          <%= f.submit class: 'btn btn-success', name: nil %>
        <% end %>
        <div id="artwork-results">
          <%= render 'artwork/artwork_results', artworks: @artworks %>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div id="map" style="width: 100%; height: 600px;">
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
      handler.getMap().setZoom(4);
    }
  });
  </script>
<% end %>
