<div class="main-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 text-center">
        <h1 class= index-header>Artwork</h1>
      </div>
      <div class="col-xs-12 col-md-8">
        <% @artworks.each do |artwork| %>
          <div class="col-xs-12 col-md-4">
            <%= link_to artwork_path(artwork) do %>
            <% if artwork.photo? %>
              <% img = cl_image_path artwork.photo %>
            <% else %>
              <% image_path 'logo.png' %>
            <% end %>
            <div class="card rounded" style="background-image: url('<%= img %>')">
            <div class="overlay">
              <div class="card-category">
                <%= artwork.user.first_name %>
              </div>
              <div class="card-description">
                <h2><%= artwork.title %></h2>
                <p><%= artwork.category  %></p>
              </div>
              <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/jordas"> -->
              <% if artwork.user.facebook_picture_url? %>
                <%= cl_image_tag artwork.user.facebook_picture_url, class: "card-user" %>
              <% elsif artwork.user.google_picture_url? %>
                <%= cl_image_tag artwork.user.google_picture_url, class: "card-user" %>
              <% else %>
                <%= cl_image_tag "Laury-avatar_phbc9i", class: "card-user" %>
              <% end %>
            </div>
            </div>
             <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <div id="map" style="width: 100%; height: 600px;">
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
      handler.getMap().setZoom(4);
    }
  });
  </script>
<% end %>
